{% extends "base.html" %}
{% load comments %}

{% block title %}Smack Overflow:Home{% endblock %}

{% block body %}

  <h3>Asked Questions:</h3>
  <a class="button success" href="{% url 'create_question' %}">I Got a Question</a>
{% for question in questions %}
  <div class="row panel callout">
    <div class="large-1 columns ">
    {% get_comment_count for question as comment_count %}
      <br/>
      {% if comment_count > 0 %}
      <a class="button large" href="{% url 'question-detailed' question.pk %}">{{ comment_count }}</a>
      {% else %}
      <span class="button disabled large">{{ comment_count }}</span>
      {% endif %}
    </div>
    <div class="large-11 columns">
      <span class="label warning"><b>Q:</b></span> <a href="{% url 'question-detailed' question.pk %}"><b>{{ question.title }}</b></a><small class="label warning right">{{ question.author }}, {{ question.timestamp }}</small>
      <div class="panel">
        <p>{{ question.get_minified_text }}</p>
      </div>
    </div>
  </div>

{% endfor %}
{% endblock %}
{% block pagination %}
  {% if is_paginated %}
    <ul class="pagination" role="menubar" aria-label="Pagination">
      {% if page_obj.has_previous %}
         <li class="arrow" aria-disabled="false"><a href="{% url 'home' %}?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
      {% endif %}
      <li class="current"><a href="">{{ page_obj.number }}</a></li>
      <li class="unavailable" aria-disabled="true"><a href="">of</a></li>
      <li class="unavailable" aria-disabled="true"><a href="">{{ page_obj.paginator.num_pages }}</a></li>
      {% if page_obj.has_next %}
        <li class="arrow"><a href="{% url 'home' %}?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
      {% endif %}
    </ul>
{% endif %}
{% endblock %}
