<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block extra_css %}
    {% endblock %}
    <script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
    {% block extra_js %}
    {% endblock %}
  </head>
  <body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name"> <h1><a href="{% url 'home' %}">Smack owerflow</a></h1> </li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
    <ul class="right">
      {% if user.is_authenticated %}
        <li class="active"><a href="{% url 'auth_logout' %}">Logout</a></li>
      {% else %}
        <li class="active"><a href="{% url 'auth_login' %}">Login</a></li>
        <li class="active"> <a href="{% url 'registration_register' %}">Register</a></li>
      {% endif %}
    </ul>
    <ul class="left show-for-large-up">
      <li><a href="{% url 'admin:index' %}">Admin Site</a></li>
    </ul>
    </section>
  </nav>
    <br/><div class="row">
    {% block body %}
    {% endblock %}
    </div>
    <div class="pagination-centered">
        {% block pagination %}
        {% endblock %}
    </div>
  </body>
</html>
